* { 
	box-sizing: border-box;
}
html, body {
	min-height: 100%;
	background: #fff;
	color: #000;
}

:root {
    --orange: #FA8B00;
    ---green: rgba(35,134,54);
    --lgreen: hsl(132, 59%, 39%);
    --dgray: rgb(1,4,9);
    --gray: rgb(13,17,23);
    --lgray: rgb(177,186,196);
    --white: rgb(201,209,217);
    --dwhite: rgb(85,91,101);
}
	
body {
	font-size: 1.4rem;
	text-rendering: optimizeLegibility;
}
	
body, ul, ol, dl {
	margin: 0;
}
article, aside, audio, 
footer, header, nav, section, video {
	display: block; 
	}
	
	
h1 {
	font-size: 1.4rem;
}
	
p { 
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
} 
	
textarea { 
	resize: vertical;
}
 
table { border-collapse: collapse; }
td {
	padding: .5rem;
}
	
img { 
	border: none;
	max-width: 100%;
}
	
input[type="submit"]::-moz-focus-inner, 
	input[type="button"]::-moz-focus-inner {
		border : 0px;
	}
	
input[type="search"] { 
	-webkit-appearance: textfield;
} 
input[type="submit"] { 
	-webkit-appearance:none;
}
	
input:required:after {
	color: #f00;
	content: " *";
}

input[type="email"]:invalid { 
	background: #f00;
}
	
.right { 
	float: right;
	margin-left: 2rem;
	clear: right;
}
.left { 
	float: left;
	margin-right: 2rem;
	clear: left;
}

/* --- CSS START --- */

body {
	background-color: var(--dgray);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.container {
	width: clamp(30%, 500px, 60%);
	background-color: var(--gray);
	height: clamp(62%, 800px, 80%);
	border-radius: 10px;
	display: flex;
	flex-direction: column;

}

input {
	border: none;
	padding: 5px 10px;
	background-color: white;
	width: 70px;
	border-radius: 5px;
}

.ftext, .itext, .weight {
	font-size: 1.4rem;
}

h2 {
	color: var(--white);
	text-align: center;
}

button {
	padding: 5px 10px;
	border: none;
	background-color: var(---green);
	cursor: pointer;
	color: white;
	border-radius: 5px;
	width: 120px;
	margin-left: calc(50% - 60px);
	margin-right: calc(50% - 60px); 
	margin-top: 20px;
}

button:hover {
	background-color: var(--lgreen);
}

.result > input {
	width: 80px;
	margin-left: calc(50% - 40px);
	margin-right: calc(50% - 40px);
}

.measures > h2 {
	text-align: center;
}

#bmi {
	color: black;
}

#metricConvertSwitch {
	margin-top: 30px;
}

#metric {
	height: 0;
	visibility: hidden;
}